body {
    background-color: #e6e8f4;
    color: #323545;
}

section { 
    min-height:800px; 
}

.container {
    text-align: center;
}

a {
    display: inline-block;
    border-radius: 50%;
  }
.next {
    display: inline-block;
    width: 3em;
    height: 3em;
    border: 0.3em solid white;
    border-radius: 50%;
    margin-left: 0.75em;
    padding: 0px;
    cursor: pointer;
    background: none;
  }
  
  .next:after {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    border-top: 0.3em solid white;
    border-right: 0.3em solid white;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  next:hover {
    border: 0.3em solid #ff4172;
  }
  
  next:hover:after{
    border-top: 0.3em solid#ff4172;
    border-right: 0.3em solid#ff4172;
  }

  .fa {
    color: #536ade;
  }

  