body {
    background-color: #e6e8f4;
    color: #323545;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'PT Sans', sans-serif;
}


.mapicon {
    position: fixed;
    right: 1em;
    top: 1em;
    width: 40px;
    height: 40px;
    display: block;
    z-index: 1;
}

img {
    max-width: 100%
}

section { 
    position: relative;
    height: 100vh;
    background: url(/img/skyline.svg) center bottom -210px;
    background-repeat: no-repeat;
    text-align: center;
}

.two, .four {
    background-color: #536ade;

}
.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

a {
    display: inline-block;
    border-radius: 50%;
  }
.next {
    width: 4em;
    height: 4em;
    border: 0.4em solid white;
    border-radius: 50%;
    padding: 0px;
    cursor: pointer;
    background: none;
    display: block;
    margin: auto;
  }
  
  .next:after {
    content: '';
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    border-top: 0.4em solid white;
    border-right: 0.4em solid white;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .next:hover {
    border: 0.3em solid #ff4172;
  }
  
  .next:hover:after{
    border-top: 0.3em solid#ff4172;
    border-right: 0.3em solid#ff4172;
  }

  .icon {
    height: 200px;
    width: 200px;
    margin: 0 auto;
  }

  