*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background-color: #536ade;
	color: white;
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;

}

h1, h2, h3, h4, h5 {
	font-family: 'PT Sans', sans-serif;
	font-size: 2em;
}


.mapicon {
	position: fixed;
	right: 1em;
	top: 0.5em;
	width: 40px;
	height: 40px;
	display: block;
	z-index: 1;
	border: 2px solid #ff4172;
	padding: 4px;
	border-radius: 100%;
	background-color: #ff4172;
}

.mapicon:hover {
	border: 2px solid #536ade;
	background-color:  #536ade;
}

img {
	max-width: 100%
}

section { 
	position: relative;
	height: 100vh;
	background-repeat: no-repeat;
	text-align: center;
}

.two, .four {
	background-color: #323545;
}
.container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

a {
	display: inline-block;
	border-radius: 50%;
	text-decoration: none;
	color: white;
}

a:hover {
	color: #ff4172;
}
.next {
	width: 4em;
	height: 4em;
	border: 0.4em solid white;
	border-radius: 50%;
	padding: 0px;
	cursor: pointer;
	background: none;
	display: block;
	margin: auto;
}

.two .next {
	border: 0.4em solid white;
}

.next:after {
	content: '';
	display: inline-block;
	width: 1.3em;
	height: 1.3em;
	border-top: 0.4em solid white;
	border-right: 0.4em solid white;
	-moz-transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}

.two .next:after {
	border-top: 0.4em solid white;
	border-right: 0.4em solid white;
}

.next:hover {
	border: 0.3em solid #ff4172;
}

.next:hover:after{
	border-top: 0.3em solid#ff4172;
	border-right: 0.3em solid#ff4172;
}

.icon {
	height: 200px;
	width: 200px;
	margin: 0 auto;
}

a.btn1 {
	border: 2px solid white;
	background-color: #ff4172;
	color: white;
	padding: 14px 28px;
	font-size: 16px;
	border-radius: 3px;
	text-decoration: none;
}

footer {
	overflow: hidden;
	background-color: #536ade;
}

p {
	color:white;
	text-align: center;
}


