/*body{

	font-family: 'Roboto', sans-serif;
	color:  #ffffff;
	background: url("../img/cover1.jpeg") no-repeat center center fixed rgba(0,0,0,0.5);
  background-size: cover;
  -o-background-size: cover;

}*/

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: #323545;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'PT Sans', sans-serif;
  color: #536ade;
}


.mapicon {
  position: fixed;
  right: 1em;
  top: 1em;
  width: 40px;
  height: 40px;
  display: block;
  z-index: 1;
}

img {
  max-width: 100%
}

.btn  {
  color: #ffffff;
  border-radius: 8px;
  background-color: #F64C72;
  font-size: 20px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;

}

.btn:hover { 
    background-color: white;
    color: #F64C72;
}

.wrapper {
  background-color: #b1bbec88;
  overflow: hidden;
}

.data-info{
  padding-top: 0.5em;
}
.data-info h1 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;

}
.data-info .container {
  padding: 1em;
  color:#323545;
}

.data-info .container h3 {
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
}

.data-info .container p {
  padding: 1em;
  line-height: 25px;

}

.data-info .container ul {
  padding: 1em;
  line-height: 25px;
}

.column-left { 
  float: left; 
  width: 33.3333%; 
  padding: 0 1em;
  overflow: hidden;
}
.column-right{
   float: right;
    width: 33.3333%;
    padding: 0 1em;
    overflow: hidden;
   }
.column-center{ 
  display: inline-block; 
  width: 33.333%; 
  padding: 0 1em;
  overflow: hidden;
}


#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 60%;
}


h2 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #2dc4b2;
}

#console {
  position: absolute;
  width: 240px;
  margin: 10px;
  padding: 10px 20px;
  background-color: white;
}


.session {
  margin-bottom: 20px;
}

.row {
  height: 12px;
  width: 100%;
}

.colors {
  background: linear-gradient(to right, #2dc4b2, #3bb3c3, #669ec4, #8b88b6, #a2719b, #aa5e79);
  margin-bottom: 5px;
}

.label {
  width: 15%;
  display: inline-block;
  text-align: center;
}

body {
  height: 100vh;
}

#map {
  position: static;
  height: 70vh;
  width: 100%;
  bottom: 0;
  left: 0;
}

.map {
  position: relative;
  height: 67vh;
  overflow: hidden;
}

#popup {
  position: absolute;
  top: 100px;
  left: 10px;
  width: 15em;
  background-color: #fff8;
  height: 7em;
  border: 1px solid;
  border-radius: 3px;
  border-color: #2f2fa2;
}

.content {
  width: 100%;
  height: 100%;
  padding: .5em;
  position: absolute;
  top: 50%;
  line-height: 1.5;
  left: 50%;
  transform: translate(-50%, -50%);
}

.show {
  visibility: visible;
  opacity: 1;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.filterField{
  top: 10;
  position: absolute;
  right: 10;
  background-color: #FFF8;
  border-radius: 3px;
}

.filterField h3 {
  text-align: center;
  color: #2f2fa2;
  padding: 0.5em;
  font-weight: bold;
  text-transform: uppercase;
}

.filterField label {
display: block;
padding: 0.3em;
}

.title{
  font-weight: 600;
}

.nextsection {
  overflow: hidden;
  padding: 10px;
  background-color: #2f2fa2;
  position: relative;

}
.nextinfo {
  float: left;
  width: 50%;
  color: white;
}

.nextbtn {
  position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    text-align: center;
    left: 50%;
}

.button {
  background: #FFF8;
  border: 1px solid white;
  color: white;
  padding: .5rem 1rem;
  border-radius: 3px;
  width: 10em;
}

.button::after {
  content: "➜";
  margin-left: 5px;
}

.button:hover { 
  background-color:#F64C72;
  color: white;
}

footer {
  overflow: hidden;
  background-color: #323545;
}

 footer p {
  color:white;
  text-align: center;
}



.legend {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 40%;
  background: white;
  padding: .5em 1em 1.5em;
}

.legend li {
  display: inline-block;
  width: 20%;
}

.text {
  position: absolute;
  bottom: .25em;
}

li .text {
  margin-left: -.75em;
}

li:last-of-type .text {
  margin-left: -1.25em;
}

.color {
  display: inline-block;
  width: 100%;
  height: 25px;
}

.darkest {
  background: #7a0177;
}

.dark {
  background: #c51b8a;
}

.medium {
  background: #f768a1;
}

.light {
  background: #fbb4b9;
}

.lightest {
  background: #feebe2;
}

.chart {
  max-width: 333px;
  max-height: 333px;
  display: inline-block;
  vertical-align: top;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

.box {
  border: 4px solid white;
  color: white;
  padding: 1rem 1rem;
  border-radius: 3px;
}

.box h3 {
  color: #323545;
}

.piechart {
  font-family: 'Raleway', sans-serif;

}