/*body{

	font-family: 'Roboto', sans-serif;
	color:  #ffffff;
	background: url("../img/cover1.jpeg") no-repeat center center fixed rgba(0,0,0,0.5);
  background-size: cover;
  -o-background-size: cover;

}*/

body {
font-family: 'Alegreya Sans', sans-serif;

}
p {
font-family: 'Open Sans', sans-serif;

}


.overlay{
  background: url("../img/cover1.jpeg") no-repeat center center fixed rgba(0,0,0,0.5);
  position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    background-size: cover;
}

.btn  {
  color: #ffffff;
  border-radius: 8px;
  background-color: #F64C72;
  font-size: 20px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;

}

.btn:hover { 
    background-color: white;
    color: #F64C72;
}


.info-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 10px;
}

.titleheader {
  border-bottom-width: 1px;
  background-color: #2f2fa2;
  position: relative;
  padding: 0.5em 1em;
}

.h-headline {
  font-size: 2em;
  color: white;
}


.wrapper {
  background-color: #2f2fa2;
  overflow: hidden;
}

.data-info{
  padding-top: 0.5em;
}
.data-info h1 {
  text-align: center;
  color: white;
  font-size: 2em;
  margin-bottom: 10px;

}

hr {
  border-color: #242582;
  }

.data-info .container {
  padding: 1em;
  color: white;
}

.data-info .container h3 {
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
}

.data-info .container p {
  padding: 1em;
  line-height: 25px;

}

.data-info .container ul {
  padding: 1em;
  line-height: 25px;
}

.column-left
{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }


#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 60%;
}


h2 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #2dc4b2;
}

#console {
  position: absolute;
  width: 240px;
  margin: 10px;
  padding: 10px 20px;
  background-color: white;
}


.session {
  margin-bottom: 20px;
}

.row {
  height: 12px;
  width: 100%;
}

.colors {
  background: linear-gradient(to right, #2dc4b2, #3bb3c3, #669ec4, #8b88b6, #a2719b, #aa5e79);
  margin-bottom: 5px;
}

.label {
  width: 15%;
  display: inline-block;
  text-align: center;
}

body {
  height: 100vh;
}

#map {
  position: static;
  height: 70vh;
  width: 100%;
  bottom: 0;
  left: 0;
}

.map {
  position: relative;
}

#popup {
  position: absolute;
  top: 100px;
  left: 10px;
  width: 15em;
  background-color: #fff;
  height: 10em;
  transition: .3s;
  border: 1px solid #ccc;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.show {
  visibility: visible;
  opacity: 1;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.filterField{
  top: 10;
  position: absolute;
  right: 10;
  background-color: #FFF8;
  border-radius: 15px;
}

.filterField h3 {
  text-align: center;
  color: #2f2fa2;
  padding: 0.5em;
  font-weight: bold;
  text-transform: uppercase;
}

.filterField label {
display: block;
padding: 0.3em;
}


.footer {
  text-align: center;
  background-color: #f64c72;
  color: white;
  overflow: hidden;
}